{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container col-xxl-9 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static "/blog/img/undraw.png" %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">NurbekTech блогына қош келдіңіз!</h1>
        <p class="lead">Менің есімім Нұрбек, мен сізді радиоәуесқойлар әлеміне қуана қарсы аламын! Мұнда мен өзімнің шығармашылық жобаларыммен, идеяларыммен және әлемдегі жаңалықтарыммен бөлісемін. Робототехника және STEM әлеміндегі қызықты саяхатына қосылыңыз!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
    </div>
</div>
{% endblock content %}