{% extends "blog/base.html" %}

{% block content %}
    <h1>Page Blog</h1>
    {% for c in cats %}
        <a href="{{c.get_absolute_url}}">{{c.name}}</a>
    {% endfor %}
    {% for p in posts %}
    <div class="card" style="width: 18rem;">
        
        <div class="card-body">
            <h5 class="card-title">{{p.title}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{p.cat}}</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{{ p.get_absolute_url }}" class="card-link">Оқу</a>
        </div>
        
    </div>
    {% endfor %}
{% endblock content %}